<div class="login-container">
  <form [formGroup]="registrazioneForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="namesurname">Nome e Cognome</label>
      <input
        id="namesurname"
        formControlName="namesurname"
        placeholder="Nome e Cognome"
        class="form-control"
      />
      <div *ngIf="registrazioneForm.get('namesurname')?.invalid && registrazioneForm.get('namesurname')?.touched" class="error-message">
        Nome e Cognome è richiesto
      </div>
    </div>

    <div class="form-group">
      <label for="email">Email</label>
      <input
        id="email"
        formControlName="email"
        placeholder="Email"
        class="form-control"
      />
      <div *ngIf="registrazioneForm.get('email')?.invalid && registrazioneForm.get('email')?.touched" class="error-message">
        Email obbligatoria!
      </div>
    </div>

    <div class="form-group">
      <label for="pwd">Password</label>
      <input
        type="password"
        id="pwd"
        formControlName="pwd"
        placeholder="Password"
        class="form-control"
      />
      <div *ngIf="registrazioneForm.get('pwd')?.invalid && registrazioneForm.get('pwd')?.touched" class="error-message">
        Password obbligatoria!
      </div>
    </div>
    <button type="submit" [disabled]="!registrazioneForm.valid" class="btn btn-primary">Salva</button>
    <button type="button" class="btn btn-success me-2"  (click)="openLogin()">Cancella</button>
  </form>
  
  <div *ngIf="errorMessage" class="alert alert-danger">
      {{ errorMessage }}
  </div>
</div>

