<div class="table-responsive">
  <ng-container *ngIf="!loading; else loadingTemplate">
    <table *ngIf="timesheets.length > 0" class="table table-striped table-sm">
      <thead>
        <tr>
          <th scope="col">Data Inizio</th>
          <th scope="col">Data Fine</th>
          <th scope="col">Dettaglio</th>
          <th scope="col">Ore per Giorno</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let timesheet of timesheets">
          <td>{{ timesheet.dtstart | date: 'dd/MM/yyyy' }}</td>
          <td>{{ timesheet.dtend | date: 'dd/MM/yyyy' }}</td>
          <td>{{ timesheet.detail }}</td>
          <td>
            <div *ngFor="let entry of timesheet.hoursPerDay | keyvalue">
              <span>{{ entry.key }}: {{ entry.value }} ore</span>
            </div>
          </td>
        </tr>
      </tbody>
    </table>
    <div *ngIf="timesheets.length === 0" class="alert alert-warning">
      Nessun timesheet trovato
    </div>
  </ng-container>

  <ng-template #loadingTemplate>
    <div class="alert alert-info">Caricamento dei timesheet in corso...</div>
  </ng-template>
</div>


