<div class="form-container">
  <h5 class="mb-4">Elenco dei Timesheet</h5>

  <div *ngIf="timesheets.length > 0; else noTimesheets">
    <table class="table table-striped">
      <thead>
        <tr>
          <th>ID</th>
          <th>Attività</th>
          <th>Utente</th>
          <th>Data Inizio</th>
          <th>Data Fine</th>
          <th>Dettaglio</th>
          <th>Azioni</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let timesheet of timesheets">
          <td>{{ timesheet.id }}</td>
          <td>{{ timesheet.activityId }}</td> <!-- ID Attività -->
          <td>{{ timesheet.userId }}</td> <!-- ID Utente -->
          <td>{{ timesheet.dtstart | date: 'dd/MM/yyyy HH:mm' }}</td> <!-- Data Inizio -->
          <td>{{ timesheet.dtend | date: 'dd/MM/yyyy HH:mm' }}</td> <!-- Data Fine -->
          <td>{{ timesheet.detail }}</td> <!-- Dettaglio -->
          <td>
            <button class="btn btn-sm btn-primary me-2" (click)="selectTimesheet(timesheet)">Modifica</button>
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <ng-template #noTimesheets>
    <p class="text-center">Nessun timesheet trovato.</p>
  </ng-template>
</div>
