/* CSS per il footer */

footer {
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #d5e9fc;
    border-radius: 5px;
    border: ridge navy;
    display: flex;
    color: navy;
    position: relative;
}

footer::before {
    content: "Qo 3,1: Per ogni cosa c'è il suo momento, il suo tempo per ogni faccenda sotto il cielo.";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-style: italic;
    font-size: 2em;
    text-align: center;
    width: 80%;
    color:  navy;
    z-index: 1;
}

/* Media queries */

@media screen and (max-width: 768px) {
    /* Stili per tablet */
    footer {
        padding: 15px;
        font-size: 0.9em;
    }
    
    footer > * {
        margin-right: 10px;
    }
}

@media screen and (max-width: 480px) {
    /* Stili per smartphone */
    footer {
        padding: 10px;
        font-size: 0.8em;
        flex-direction: column;
        align-items: center;
    }
    
    footer > * {
        margin-right: 0;
        margin-bottom: 5px;
    }
}
