/* CSS per la navbar */

.custom-logout-button {
  background-color: transparent;
  border: none;
}

.custom-logout-icon {
  width: 90px;
  height: 90px;
}

.user-name {
  font-weight: bold;
  font-size: 1.2em;
}

.user-icon {
  width: 35px;
  height: 35px;
  margin-right: 0px;
  border: 1px solid red;
}

/* Media queries */

@media screen and (max-width: 768px) {
  /* Stili per tablet */
  .custom-logout-button {
      background-color: transparent;
      border: none;
  }
  
  .custom-logout-icon {
      width: 60px;
      height: 60px;
  }
  
  .user-name {
      font-weight: bold;
      font-size: 1em;
  }
  
  .user-icon {
      width: 25px;
      height: 25px;
      margin-right: 5px;
  }
}

@media screen and (max-width: 480px) {
  /* Stili per smartphone */
  .custom-logout-button {
      background-color: transparent;
      border: none;
  }
  
  .custom-logout-icon {
      width: 40px;
      height: 40px;
  }
  
  .user-name {
      font-weight: bold;
      font-size: 0.9em;
  }
  
  .user-icon {
      width: 20px;
      height: 20px;
      margin-right: 5px;
  }
}   