/* CSS per l'header */

header {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    background-color: #e0f0ff;
    padding: 10px 20px;
    border-radius: 5px;
    border: ridge navy;
    position: relative;
}

.header-icon {
    height: 120px;
    margin-right: 15px;
    margin-left: 15px;
}

.header-icon > img {
    height: 100px;
    width: auto;
}

.header-title-image {
    width: auto;
    height: 100px;
    flex-grow: 1;
    max-width: calc(80% - 100px);
    margin-right: auto; /* Aggiunto per spostare l'icona del titolo a sinistra */
}

app-navbar {
    display: flex;
    align-items: center;
    margin-left: auto; /* Spostato la navbar all'estrema destra */
}

/* Media queries */

@media screen and (max-width: 768px) {
    /* Stili per tablet */
    header {
        padding: 5px 15px;
    }
    
    .header-icon {
        height: 100px;
        margin-right: 10px;
        margin-left: 10px;
    }
    
    .header-icon > img {
        height: 150px;
    }
    
    .header-title-image {
        height: 60px;
        max-width: calc(100% - 150px);
        margin-right: auto;
    }
    
    app-navbar {
        margin-left: auto;
    }
}

@media screen and (max-width: 480px) {
    /* Stili per smartphone */
    header {
        flex-direction: column;
        align-items: center;
        padding: 5px;
    }
    
    .header-icon {
        height: 80px;
        margin-bottom: 10px;
    }
    
    .header-icon > img {
        height: 120px;
    }
    
    .header-title-image {
        height: 50px;
        max-width: calc(100% - 120px);
        margin-bottom: 10px;
    }
    
    app-navbar {
        width: 100%;
        justify-content: center;
        margin-top: 10px;
    }
}



