/* CSS per l'header */

header {
    display: flex;
    align-items: center;          /* Centra verticalmente gli elementi all'interno dell'header */
    justify-content: space-between; /* Spaziatura uniforme tra icone a sinistra e navbar a destra */
    background-color: #e0f0ff;     /* Colore di sfondo */
    padding: 10px 20px;            /* Spaziatura interna per il margine laterale */
    border-radius: 5px;
    border: ridge navy;
    position: relative;            /* Necessario per posizionare app-navbar */
}

.header-icon {
    height: 200px;                  /* Altezza dell'icona cronometro */
    margin-right: 15px;            /* Spazio tra l'icona e la targhetta */
}

.header-title-image {
    width: auto;                   /* Larghezza automatica */
    height: 200px;                  /* Altezza dell'immagine della targhetta */
    flex-grow: 1;                  /* Permette alla targhetta di espandersi orizzontalmente */
    max-width: calc(100% - 200px); /* Limita la larghezza massima della targhetta rispetto al margine */
    margin-right: 30px;            /* Aumenta lo spazio tra targhetta e navbar */
}

app-navbar {
    display: flex;                 /* Mantiene gli elementi della navbar in linea */
    align-items: center;           /* Centra la navbar verticalmente */
    margin-left: 30px;             /* Aumenta lo spazio tra la navbar e la targhetta */
}
