<div class="form-container">
  <!-- Elenco Attività Presenti -->
  <h5 class="mb-4">Elenco Attività Presenti</h5>
  <div class="table-responsive">
    <app-activity-list (onSelectActivity)="selectActivity($event)"></app-activity-list>
  </div>

  <!-- Elenco TimeSheet Presenti -->
  <h5 class="mb-4">Elenco TimeSheet Presenti</h5>
  <div class="table-responsive">
    <app-timesheet-list (timesheetSelected)="selectTimeSheet($event)"></app-timesheet-list>
  </div>

  <!-- Form per creare/modificare una nuova TimeSheet -->
  <h5 class="mb-4">Crea Nuova TimeSheet</h5>
  <form [formGroup]="timesheetForm" (ngSubmit)="onSubmit()">
    <div class="row mb-3">

      <!-- Campo per la descrizione dell'attività -->
      <div class="col-md-6">
        <label for="activityId" class="form-label">Descrizione Attività</label>
        <select 
          id="activityId" 
          formControlName="activityId" 
          class="form-control">
          <option value="" disabled selected>Seleziona un'attività</option>
          <option *ngFor="let activity of activityList" [value]="activity.id">{{ activity.description }}</option>
        </select>
      </div>

      <!-- Utente -->
      <div class="col-md-6">
        <label for="userId" class="form-label">Proprietario</label>
        <select 
          id="userId" 
          formControlName="userId" 
          class="form-control">
          <option value="" disabled selected>Seleziona un utente</option>
          <option *ngFor="let user of userList" [value]="user.id">{{ user.name }}</option>
        </select>
      </div>
    </div>

    <div class="row mb-3">
      <!-- Data Inizio -->
      <div class="col-md-6">
        <label for="dtstart" class="form-label">Data Inizio</label>
        <input 
          type="datetime-local" 
          id="dtstart" 
          formControlName="dtstart" 
          class="form-control">
      </div>

      <!-- Data Fine -->
      <div class="col-md-6">
        <label for="dtend" class="form-label">Data Fine</label>
        <input 
          type="datetime-local" 
          id="dtend" 
          formControlName="dtend" 
          class="form-control">
      </div>
    </div>

    <!-- Dettaglio -->
    <div class="mb-3">
      <label for="detail" class="form-label">Dettaglio</label>
      <textarea 
        id="detail" 
        formControlName="detail" 
        class="form-control" 
        rows="3"></textarea>
    </div>

    <div class="row mb-3">
      <!-- Ore Lavorate -->
      <div class="col-md-6">
        <label for="hoursWorked" class="form-label">Ore Lavorate</label>
        <input 
          type="number" 
          id="hoursWorked" 
          formControlName="hoursWorked" 
          class="form-control">
      </div>

      <!-- Data del Giorno Lavorato -->
      <div class="col-md-6">
        <label for="workDate" class="form-label">Data del Giorno Lavorato</label>
        <input 
          type="date" 
          id="workDate" 
          formControlName="workDate" 
          class="form-control">
      </div>
    </div>

<!-- Buttons -->
<div class="row">
  <div class="col-md-12 d-flex justify-content-end">
    <button type="button" class="btn btn-secondary me-2" (click)="resetForm()">Pulisci</button>
    <button type="button" class="btn btn-danger me-2" (click)="openDeleteConfirmation()">Cancella</button>
    <button type="submit" class="btn btn-primary">{{ isEditing ? 'Aggiorna' : 'Salva' }}</button>
  </div>
</div>